<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Connection String that contains Promo, Label-->
    <!--<add key="ConnectionString" value="User Id=USSC;Password=PSSC;Data Source=//192.168.21.100/EYCPRD"/>-->
    <!--<add key="ConnectionString" value="User Id=USSC;Password=PSSC;Data Source=//192.168.0.130/EYCTST" />-->
    <!--Connection String that contains SSC, MV_ARTICLES, V_SITE, V_BRAND-->
    <!--<add key="ConnectionStringOracleLocal" value="User Id=USSC;Password=PSSC;Data Source=//localhost/xe"/>-->
    <!--<add key="ConnectionStringLocal" value="User Id=USSC;Password=PSSC;Data Source=//192.168.0.88/xe" />-->
    <!--<add key="ConnectionStringOracle" value="User Id=CMS;Password=kds2015;Data Source=//192.168.0.51/xe"/>-->
    <!--<add key="ConnectionStringOracle" value="User Id=CMS;Password=kds2015;Data Source=//117.102.102.231/xe"/>-->
    <add key="ConnectionStringSqlServer" value="Server=LUNGGAPC\SQLEXPRESS2012;Database=VoiceLink_history;User Id=sa; Password=P@ssw0rd;"/>
    <add key="IntervalSecond" value="0"/>
    <add key="IntervalMinute" value="10"/>
    <add key="IntervalHour" value="0"/>
    <add key="IntervalDay" value="0"/>
    <add key="CSVLocationOracle" value="sales\"/>
    <add key="StartHour" value="17"/>
    <add key="StartMinutes" value="20"/>
    <add key="isDaily" value="False"/>
    <add key="isMonthly" value="False"/>
    <add key="isWeekly" value="False"/>
    <!-- DayOfWeek Possible Values
         Sunday
         Monday
         Tuesday
         Wednesday
         Thursday
         Friday
         Saturday-->
    <add key="DayOfWeek" value="Monday"/>
    <add key="DayOfMonth" value="1"/>
    <!-- Careful, since not every month have that particular date -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
